/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#container{
    box-sizing: border-box;
    height: calc(100vh - 20px);
    width: calc(100vw - 20px);
    padding: 10px;
    display: grid;
    grid-template-areas: 
        "app-title app-title"
        "nav task-container"
    ;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 50px 1fr;
    grid-gap: 10px;
}

#app-title{
    grid-area: app-title;
    font-weight: bold;
    font-size: large;
}

#nav{
    grid-area: nav;
}

#task-container{
    grid-area: task-container;
    display: flex;
    justify-content: space-around;
}

.task-column{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 2rem;
}

h2, .task-column{
    font-weight: bold;
    text-decoration: underline;
}